.button-bulbasaur{
    border-radius: 50%;
    margin-left: 50px;
    background-color:blanchedalmond;
    border-color: brown;
  background-repeat: no-repeat;
}

.button-pokemones{


border-radius: 50%;
margin-left: 50px;
background-color:blanchedalmond;
border-color: brown;
background-repeat: no-repeat;
}
