body{
    background-color: mediumslateblue;
  background-image:url(../img/avatar-pokemon.jpg);
  object-fit: contain; 
  margin-top: auto;
}

@media only screen and (max-width: 500px) {
    body{
        background-image: url(../img/avatar-pokemon.jpg);
        background-repeat: no-repeat;
        object-fit: contain;
        margin-top: auto;
        width: 403px;
        height: 411px;

        
    }
}

.Avatar{
max-width:500px;

}

.main-page{
    display: flex;
    justify-content: center;
}
.Logo{
    width: 60px;
    height: 60px;
    margin-left: 121px;
}