.search-pokemon{
    display: flex;
    align-items: center;
    margin-left:36px;
    justify-content: center;
    width: 234px;
    height: 100px;
    background-color: #1F073D;
    border-radius: 31%;
    color: gray;
}
 

.div-Logo{
    width: 100%;
}

